{
  "discord": {
    "token": "",
    "channelId": ""
  },
  "youtube": {
    "key": "",
    "subs": [
      {
        "channelId": "",
      },
      {
        "channelId": "",
        "q": ""
      }
    ]
  }
}
