{
  "discord": {
    "token": "",
    "channelId": ""
  },
  "youtube": {
    "key": "",
    "subs": [
      {
        "channelId": "",
        "q": ""
      },
      {
        "playlistId": ""
      }
    ]
  },
  "openai": {
    "key": "",
    "temperature": 0
  }
}
